---
import Base from "@layouts/Base.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import CardAttributes from "@components/card-attributes.astro";
//add to your taste
---

<Base title="Change this title" bgColor="bg-[#FAF8F7]">
  <Header />
  <main>
    <section class="container my-10 space-y-12 p-14">
      <figure>
        <img src="/section-1/bitcoin.png" alt="Image Bitcoin" class="mx-auto" />
      </figure>
      <div class="space-y-9 text-center">
        <h1 class="text-secondary">Visibilizamos todas las tasas de cambio.</h1>
        <p>
          Traemos información en tiempo real de las casas de cambio y las
          monedas más importantes del mundo.
        </p>
      </div>
      <div class="mx-auto flex max-w-xs flex-col">
        <h2 class="mb-4 ml-5 text-primary">Monedas</h2>
        <div
          class="relative mb-5 flex w-full items-center justify-between bg-white p-4"
        >
          <ul class="space-y-4 text-2xl text-secondary-soft">
            <li>Bitcoin</li>
            <li>Ethereum</li>
            <li>Ripple</li>
            <li>Stellar</li>
          </ul>
          <ul class="space-y-4 *:flex *:items-center *:gap-x-5 *:text-2xl">
            <li>
              <span>$ 1.96</span><span
                class="icon-[ic--twotone-trending-down] mb-1 size-5 text-red-500"
              ></span>
            </li>
            <li>
              <span>$ 0.07</span><span
                class="icon-[ic--sharp-trending-up] mb-1 size-5 text-green-500"
              ></span>
            </li>
            <li>
              <span>$ 2.25</span><span
                class="icon-[ic--twotone-trending-down] mb-1 size-5 text-red-500"
              ></span>
            </li>
            <li>
              <span>$ 4.96</span><span
                class="icon-[ic--twotone-trending-down] mb-1 size-5 text-red-500"
              ></span>
            </li>
          </ul>
          <div class="absolute -right-12">
            <span class="icon-[ep--arrow-right-bold] mb-1 size-6 text-black"
            ></span>
          </div>
        </div>
        <div
          class="mx-auto inline-block rounded-xl bg-primary-light p-3 text-xl"
        >
          <p>
            <span class="mr-2 font-semibold text-secondary">Actualizado:</span
            ><span class="text-secondary">19 Julio 23:45</span>
          </p>
        </div>
      </div>
    </section>
    <section class="bg-secondary px-6 py-16">
      <div class="mb-10 text-center">
        <h1 class="mb-10 text-white">Creamos un producto sin comparación.</h1>
        <p>Confiable y diseñado para su uso diario.</p>
      </div>
      <div class="space-y-7">
        <CardAttributes
          title="Tiempo real"
          description="Nuestro API toma información minuto a minuto sobre las tasas que más determinan el comportamiento."
        >
          <img src="/atributes/clock.png" alt="Icon Clock" />
        </CardAttributes>
        <CardAttributes
          title="No hay tasas escondidas"
          description="Ni en la compra o al momento de exit, Batabit siempre te muestra el costo real de lo que estás adquiriendo."
        >
          <img src="/atributes/eye.png" alt="Icon Clock" />
        </CardAttributes>
        <CardAttributes
          title="Compara monedas"
          description="No más rumores, con Babtabit sabrás el valor real de cada moneda en el mercado actual."
        >
          <img src="/atributes/dollar-sign.png" alt="Icon Clock" />
        </CardAttributes>
        <CardAttributes
          title="Información confiable"
          description="Nuestras fuentes están 100% verificadas y continuamos auditando su contenido mientras se actualizan."
        >
          <img src="/atributes/check-circle.png" alt="Icon Clock" />
        </CardAttributes>
      </div>
    </section>
    <section class="relative flex justify-center">
      <img src="/section-3/bitcoinbaby.png" alt="Chica con Ojos de bitcoin" />
      <h1 class="absolute top-40 text-white">Conócelo hoy.</h1>
    </section>
    <section class="container px-10 py-10">
      <div class="flex flex-col gap-5 pb-20 text-center">
        <h1 class="text-secondary">Escoge el plan que mejor se ajuste a ti.</h1>
        <p class="text-xl">
          Cualquier plan te da acceso completo a nuestra plataforma.
        </p>
      </div>
      <div class="flex justify-center">
        <div
          class="relative -z-10 flex flex-col items-center rounded-xl bg-white p-4 py-10 shadow-xl"
        >
          <div
            class="absolute top-0 z-10 -translate-y-1/2 rounded-2xl bg-primary p-2"
          >
            <p class="text-white">recomedado</p>
          </div>

          <div class="space-y-6 *:text-center">
            <h3 class="text-black">Pago Anual</h3>
            <h1 class="flex justify-center font-secondary text-black">
              <span class="text-2xl">$</span>
              <span class="text-7xl">99</span>
            </h1>
            <h3 class="text-2xl">*Ahorras $129 comparado al plan mensual.</h3>
          </div>
          <div class="flex justify-center py-5">
            <button
              class="flex items-center gap-4 rounded-md border-4 border-primary bg-primary-soft p-5 px-10 text-3xl font-semibold text-secondary"
              >Escoger este <span
                class="icon-[humbleicons--arrow-right] h-14 w-14 text-primary"
              ></span></button
            >
          </div>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Base>
