<footer class="w-full bg-primary py-16">
  <div class="container flex items-center justify-center gap-14">
    <div class="">
      <ul class="space-y-2">
        <li class="text-xl text-white">Linkedin</li>
        <li class="text-xl text-white">Crunchbase</li>
        <li class="text-xl text-white">Hackernews</li>
      </ul>
    </div>
    <div>
      <figure class="mb-4 flex flex-col items-center gap-2">
        <img src="logo/logo.png" alt="Logo Batatabit" />
      </figure>
      <p class="text-xs text-white">® Batatabit 2020</p>
    </div>
  </div>
</footer>
