<header
  class="mb-10 bg-gradient-to-tr from-primary to-primary-dark px-10 pt-10 text-center"
>
  <div class="container">
    <div class="mb-10 flex items-center justify-center gap-x-2">
      <figure>
        <img src="/logo/logo.png" alt="Logo Batatabit" />
      </figure>
      <h1 class="text-primary">Batatabit</h1>
    </div>
    <div class="space-y-9 text-white">
      <h1>La próxima revolución en el intercambio de criptomonedas.</h1>
      <p>
        Batatabit te ayuda a navegar entre los diferentes precios y tendencias.
      </p>
    </div>
    <button
      class="mx-auto flex translate-y-1/2 items-center gap-x-3 rounded-md bg-white px-6 py-5 font-semibold text-black shadow-lg"
    >
      <span>Conoce Nuestros Planes</span>
      <span class="icon-[ep--arrow-down-bold] mb-1 size-5"></span>
    </button>
  </div>
</header>
